canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 1%;
}

*{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #565656;
}

h1{
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    font-size: 1.2em;
}
